adium-theme-ubuntu==0.3.4
certifi==2018.4.16
Django==1.9.12
django-debug-toolbar==1.6
markdown2==2.3.2
pathlib2==2.1.0
pipenv==11.10.1
pycrypto==2.6.1
pygobject==3.20.0
six==1.11.0
sqlparse==0.2.2
unity-lens-photos==1.0
virtualenv==15.0.3
virtualenv-clone==0.3.0
