{% extends "layout.html" %}
{% load humanize course_extras %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}jj
<div class="row">


    <article>
        <h1 class="">{{ course.title }}</h1>
        <div class="callout secondary">
            {{ course.description|markdown_to_html }}
        </div>

        <dl>
            {% for step_order in steps_order %}
                <dt>

                    <a href="{{ step_order.get_absolute_url }}">{{ step_order.title }}</a>
                </dt>
                <dd>
                    {{ step_order.description|markdown_to_html }}
                </dd>
            {% endfor %}
        </dl>
    </article>
</div>
{% endblock %}
