{% extends 'courses/layout.html' %}
{% block title %}New Quiz | {{ course.title }} {{ block.super }}{% endblock title %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></li>
{% endblock %}

{% block content %}
<div class="row columns">
  {{ block.super }}
  <h1>Make a new quiz</h1>
  <form method="POST" action="">
      {% csrf_token %}
      {# {{ quiz.as_p }}#}
      {{ quiz.as_p }}
      <input type="submit" class="button" value="Save">
  </form
</div>


{% endblock %}
