{% extends "layout.html" %}
{% load socialaccount %}

{% block title %}Well hello there!{% endblock %}



{% block content %}
    <div class="row">
        <h1>Welcome!</h1>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="btn">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}" class="btn">Sign Up</a></li>
        <li><a href="{% provider_login_url 'github' %}" class="btn">Sign-in Through GitHub</a></li>
        {% endif %}

    </div>
{% endblock %}
